@model Nhom6_TourDuLich.Models.News

@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết tin tức</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.IDNews):</td>
                        <td>@Html.DisplayFor(model => model.IDNews)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Title):</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Images):</td>
                        <td>
                            @{
                                string ImagePath = "~/wwwroot/images/imgNew/" + Model.Images;
                            }
                            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                            <br />
                            @Html.DisplayFor(model => model.Images)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">@Html.DisplayNameFor(model => model.Descriptions):</td>
                        <td>@Html.DisplayFor(model => model.Descriptions)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ActionLink("Quay lại", "Index", "News", null, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDNews }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

